@font-face {
  font-family: "ProximaNovaCond";
  font-weight: 400;
  src: url("../fonts/ProximaNovaCond-Regular.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond";
  font-weight: 600;
  src: url("../fonts/ProximaNovaCond-Semibold.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNovaCond";
  font-weight: 700;
  src: url("../fonts/ProximaNovaCond-Bold.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Bold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  font-family: "ProximaNovaCond", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.header-main__nav {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-main__nav--link {
  display: inline-block;
  position: relative;
  padding: 0px 5px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  transition: 0.6s;
  cursor: default;
}

.header-main__nav--link:nth-last-child(1) {
  margin-right: 0;
  padding-right: 0;
}

.header-main__nav--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 5px;
  left: 0;
  background-color: #444444;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-main__nav--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo-img {
  width: 125px;
}

.intro {
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1250px;
  /* height: 600px; */
  margin: 0 auto;
}

.intro-content {
  padding: 158px 0 158px 70px;
}

.intro-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  color: #444444;
  max-width: 709px;
}

.intro-btn {
  margin-top: 78px;
}

.intro-btn__link {
  padding: 18px 28px;
  background: #b01736;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.intro-btn__link:hover {
  background: #d53152;
}

.about {
  margin: 100px 0px 55px;
}

.about-content {
  padding: 99px 110px;
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  margin: 0 70px;
}

.about-title {
  text-align: center;
  color: #444444;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  font-style: normal;
}

.about-title span {
  color: #b01736;
}

.numbers {
  margin-bottom: 100px;
}

.numbers-elements {
  display: flex;
  flex-wrap: wrap;
  padding: 0 180px;
  margin: auto;
  justify-content: center;
}

.number-element {
  padding: 45px;
}

/* .number-element:nth-child(2) {
    margin: 0 185px;
  } */

.number-element__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 80%;
  color: #a30c33;
  opacity: 0.95;
}

.number-element__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #444444;
}

.office {
}

.office-content {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  padding: 29px 70px;
  position: relative;
}

.office-navbar {
  display: flex;
  margin: 0;
  background: white;
}

.office-navbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
}

.office-navbar-title:hover {
  color: #a30c33;
}

.office-navbar > .parent > .office-navbar-title::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url(../img/down.svg) no-repeat center;
  background-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.office-navbar > .parent:hover > .office-navbar-title::after {
  transform: rotate(180deg);
}

.dropdown_menu > .parent:hover > .submenu {
  display: flex;
}

.submenu {
  display: none;
  margin: 50px 0 0;
  position: absolute;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
  z-index: 100;
  left: 0;
  padding: 30px 68px;
}

.submenu::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}

.submenu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
}

.submenu h3 {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  cursor: pointer;
}

.submenu a:hover {
  color: #a30c33;
}

.submenu h3:hover {
  color: #a30c33;
}

.office-tabs__items {
  list-style: none;
}

.office-tabs__link {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  padding: 0 10px;

  transition: 0.25s linear;
}

.office-tabs__link:hover {
  color: #a30c33;
  text-decoration: underline;
  text-decoration-color: #a30c33;
  text-decoration-thickness: 3px;
  text-underline-offset: 35px;
}

.office-tabs__link.active {
  color: #a30c33;
  text-decoration: underline;
  text-decoration-color: #a30c33;
  text-decoration-thickness: 3px;
  text-underline-offset: 35px;
}

.office-tabs__link:nth-last-child(1) {
  margin: 0;
}

.office-tabs__link:nth-child(1) {
  margin: 0;
}

.office-tabcontent {
  margin: 90px 0 100px;
}

.tabcontent {
  display: none;
  padding: 0 30px;
}

.tabcontent-img {
  width: 100%;
}

.mission {
  background-image: url("../img/mission.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1250px;
  margin: 0 auto;
}

.mission-content {
  padding: 140px 70px;
}

.mission-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.mission-subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}

.directions {
  margin-top: 100px;
}

.directions_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  margin-bottom: 55px;
}

.directions-elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.directions-element {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.directions-img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
}

.directions-element:hover .directions-img {
  transform: scale(1.1);
}

.directions-element:hover .directions-background {
  top: 0;
}

.directions-background {
  position: absolute;
  background: rgba(45, 54, 83, 0.6);
  padding: 28px 20px;
  height: 100%;
  top: 188px;
  left: 0;
  right: 0;
  transition: all ease-out 0.2s;
}

.directions-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 28px;
}

.directions-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #ffffff;
  max-width: 480px;
  padding-right: 95px;
}

.benefits {
  margin: 100px 0px 55px;
}

.benefits-content {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  margin: 0 70px;
  padding: 80px 0;
}

.benefits-top {
  padding: 0 76px;
}

.benefits-bottom {
  padding: 0 177px;
}

.benefits-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #444444;
}

.benefits-subtitle span {
  color: #b01736;
}

.benefits-content-elements {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-wrap: wrap;
}

.benefits-content-element {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.benefits-content-ring {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 55%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 110px;
}

.benefits-content-img {
  padding: 31px;
}

.benefits-content-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #444444;
}

.benefits-underline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 70px 30px;
}

.gallery {
  margin-bottom: 102px;
}

.gallery-content {
  padding: 0 70px;
}

.swiper {
  margin-top: 50px;
}

.swiper-pagination {
  bottom: -30px !important;
}
.swiper-pagination-bullet {
  width: 214px;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #a30c33;
  width: 214px;
  height: 6px;
}

.gallery-content {
  position: relative;
}

.gallery-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  color: #444444;
}

.gallery-btn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 70px;
}

.gallery-img {
  margin: 0 10px;
}

.gallery-img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.swiper-slide-img {
  max-width: 1110px;
}

@media screen and (max-width: 1060px) {
  .office-content {
    padding: 29px 20px;
  }
  .office-navbar-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .header-main__nav--link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 939px) {
  .container {
    max-width: 720px;
  }

  .header-main__nav--link {
    font-size: 14px;
    line-height: 16px;
  }

  .header-main__nav {
    margin-left: 30px;
  }

  .intro {
    height: 500px;
  }

  .intro-content {
    padding: 100px 0;
  }

  .intro-title {
    font-size: 46px;
  }

  .about {
    margin: 60px 0px 50px;
  }

  .about-content {
    padding: 80px 90px;
    margin: 0px;
  }

  .about-title {
    font-size: 28px;
  }

  .numbers-elements {
    padding: 0px 45px;
  }

  .number-element {
    padding: 30px;
  }

  .number-element__title {
    font-size: 60px;
  }

  .office-content {
    padding: 20px 20px;
  }

  .office-navbar-title {
    font-size: 17px;
  }

  .office-tabs__link {
    font-size: 15px;
    line-height: 18px;
    padding: 0 4px;
  }

  .office-tabs__link.active {
    text-underline-offset: 28px;
  }

  .mission-content {
    padding: 60px 25px;
  }

  .mission-title {
    font-size: 42px;
  }

  .mission-subtitle {
    font-size: 26px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 720px;
  }

  .header-main {
    padding: 16px 0px;
    flex-direction: column;
    align-items: inherit;
  }

  .header-main__nav {
    margin-left: 0px;
    margin-top: 16px;
    justify-content: space-between;
  }

  .header-main__nav--link {
    padding: 0;
  }

  .intro {
    height: 400px;
  }

  .intro-content {
    padding: 60px 30px 60px 0;
  }

  .intro-title {
    font-size: 36px;
  }

  .about {
    margin: 60px 0px 50px;
  }

  .about-content {
    padding: 45px 30px;
    margin: 0px;
  }

  .about-title {
    font-size: 22px;
  }

  .numbers-elements {
    padding: 0px 35px;
  }

  .number-element {
    padding: 20px;
    text-align: center;
  }

  .number-element__title {
    font-size: 45px;
  }

  .number-element__subtitle {
    font-size: 17px;
  }

  .office-content {
    padding: 20px 5px;
    flex-direction: column;
  }

  .office-tabs__items {
    display: flex;
    overflow-x: auto;
  }

  .office-tabs__items::-webkit-scrollbar {
    display: none;
  }

  .office-navbar-title {
    font-size: 20px;
  }

  .office-tabs {
    margin-top: 20px;
  }

  .office-tabs__link {
    font-size: 16px;
    padding: 0 8px;
    white-space: nowrap;
  }

  .office-tabs__link.active {
    text-underline-offset: 3px;
  }

  .office-tabcontent {
    overflow-x: auto;
  }

  .office-tabcontent::-webkit-scrollbar {
    display: none;
  }
  .tabcontent-img {
    width: 1000px;
  }

  .mission-content {
    padding: 40px 15px;
  }

  .mission-title {
    font-size: 35px;
  }

  .mission-subtitle {
    font-size: 22px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header-main__nav {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, max-content));
    gap: 10px;
    justify-items: start;
  }

  .header-main__nav--link {
    margin: 0;
  }

  .intro {
    height: 300px;
  }

  .intro-content {
    padding: 40px 0 76px;
  }

  .intro-title {
    font-size: 28px;
  }

  .intro-btn {
    margin-top: 26.5px;
  }

  .intro-btn__link {
    padding: 6.5px 25.5px;
    font-size: 16px;
    line-height: 19px;
  }

  .about {
    margin: 60px 0px 50px;
  }

  .about-content {
    padding: 24px 5px;
    margin: 0px;
  }

  .about-title {
    font-size: 16px;
  }

  .numbers-elements {
    padding: 0px 5px;
  }

  .number-element {
    padding: 4px;
    text-align: center;
  }

  .number-element__title {
    font-size: 40px;
  }

  .number-element__subtitle {
    font-size: 16px;
  }

  .office-content {
    padding: 20px 5px;
    flex-direction: column;
  }

  .office-tabs__items {
    display: flex;
    overflow-x: auto;
  }

  .office-tabs__items::-webkit-scrollbar {
    display: none;
  }

  .office-navbar-title {
    font-size: 20px;
  }

  .office-tabs {
    margin-top: 20px;
  }

  .office-tabs__link {
    font-size: 16px;
    padding: 0 8px;
    white-space: nowrap;
  }

  .mission-content {
    padding: 32px 5px;
  }

  .mission-title {
    font-size: 28px;
  }

  .mission-subtitle {
    font-size: 16px;
    margin-top: 10px;
  }

  .directions_title{
    font-size: 28px;
  }

  .directions-elements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

.directions-img {
    height: 60px;
    object-fit: cover;
  }

  .open .directions-img {
    height: 260px;
    object-fit: cover;
  }

  .directions-background {
    padding: 20px 40px 20px 10px;
    top: 0px;
    height: 95%;
  } 
  
  .open .directions-background {
    
    top: 0px;
    height: 98%;
  } 

  .directions-title {
    font-size: 20px;
    padding-bottom: 40px;
  }

  .open .directions-title {
    padding-bottom: 10px;
  }

    .directions-description {
    font-size: 16px;
    padding-right: 0px;
  }

  .directions-element:hover .directions-img {
    transform: scale(1);
  }

  
   .directions-element:hover .open .directions-background {
    top: -5px;
  }

  .directions-element .directions-title::after {
    content: "";
  
    color: #fff;
    position: absolute;
    top: 27px;
    right: 24px;
    transform: translateY(-50%) rotate(0deg);
  
    width: 22px;
    height: 22px;
    background: url(../img/downAccord.svg) no-repeat center;
    background-size: 16px;
  
    transition: all 0.2s linear;
  }

  .open .directions-title::after {
    transform: translateY(-50%) rotate(180deg);
  }


  .benefits {
    margin: 50px 0px 55px;
}

.benefits-content {
    margin: 0;
    padding: 24px 0;
}

.benefits-top {
    padding: 0 5px;
}

.benefits-title {
    font-size: 28px;
}


.benefits-content-element {
    width: 120px;
}

.benefits-underline {
    margin: 24px 20px;
}

.benefits-bottom {
    padding: 0 5px;
}

.benefits-subtitle {
    font-size: 22px;
}

.gallery {
    margin-bottom: 49px;
}


.gallery-btn {
    display: none;
}

.gallery-content {
    padding: 0;
}

.gallery-title {
    font-size: 28px;
}

.swiper-slide-img {
    max-width: 1110px;
    height: 210px;
}

.swiper-pagination {
    display: none;
}
}
